{% extends 'base.htm' %}

{% block content %}
	  <h1>Choose a book</h1>
	  
	  	<p>What book do you want to read?</p>
	  	
		<form method='GET' action='/choose/'>
		<table>
		<tr><th style='text-align: left'>Books</th><th>Sizes in Words</th><th>Selection</th></tr>
		{% for carrel in carrels %}
 			<tr>
 				<td><a href='{{carrel[3]}}'>{{carrel[1]}}</a></td>
 				<td style='text-align:right'>{{carrel[2]}}</td>
 				
 				{% if carrel[0] == selected %}
 					<td style='text-align:center'><input type="radio" name='carrel' value='{{carrel[0]}}--{{carrel[1]}}--{{carrel[3]}}' checked='checked' /></td>
 				{% else %}
 					<td style='text-align:center'><input type="radio" name='carrel' value='{{carrel[0]}}--{{carrel[1]}}--{{carrel[3]}}' /></td>
 				{% endif %}

 			</tr>
 		{% endfor %}
		<tr><td></td><td></td><td><input type='submit' value='Choose' /></td></tr>
		</table>
	  </form>
	  
{% endblock %}