{% extends 'base.htm' %}

{% block content %}

	<h1>Reader Lite: A Tool for Interactive Reading</h1>
	
	<p>Reader Lite is a tool to supplement the reading of four pre-selected books:</p>
<ol>
	<li><cite>Emma</cite> by Jane Austen</li>
	<li>The <cite>Iliad</cite> and the <cite>Odyssey</cite> by Homer</li>
	<li><cite>Moby Dick</cite> by Herman Melville</li>
	<li><cite>Walden Pond</cite> by Henry David Thoreau</li>
</ol>
	
	<p>Through the use of this tool your understanding of these four books will be enhanced.</p>
	
	<p>
For example, the very first sentence of <cite>Moby Dick</cite> is "Call me Ishmael." Well, the active reader (you) will automatically ask, "Who is Ishmael and why should I care?" Using this tool you can ask and answer this question quickly and easily.
</p>

	<p>Think of Reader Lite as if it were a traditional back-of-the-book index but made better with a set of super powers.</p>
	
	<p>
Reader Lite tool was written by me, Eric Lease Morgan &lt;<a href="mailto:eric_morgan@infomotions.com">eric_morgan@infomotions.com</a>&gt;. As a librarian I have always been fascinated with the collection, organization, preservation, and dissemination of data, information, and knowledge. Reader Lite is simply another application in that vein.
</p>

	
{% endblock %}

